.app-wrapper {
    height: 100px;
    display: grid;
    grid-template-areas: 
    'h'
    'k'
    'w'
    'n'
    'c';
    grid-template-rows: 100px ;
    
}

.header{
    grid-area: h;
    position: relative;
    display: inline-block;
    height: 100px;
}

.header span {
display:inline-block;
width: 100%;
position:absolute;
top:0;
left:0;
color:rgb(36, 14, 58);
font-family: Snell Roundhand, cursive;
font-size:30px;
background-color:rgba(236, 234, 234, 0.301);
padding:10px 20px;
}

.header img{
    width: 100%;
    position: margin;
    top: 0;
    left: 0;
   
}

.text span{
    color: rgb(255, 255, 255);
    padding: 24px 10px 24px 10px;
    font-size: 68px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: relative;
    line-height: 1.3;
    transition-delay: 0s;
    letter-spacing: 1px;
    box-sizing: content-box; 
    display: block; 
}

.text span1{
    color: rgb(255, 255, 255);
    padding: 20px 5px 20px 5px;
    font-size: 28px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: relative;
    line-height: 1.0;
    transition-delay: 0s;
    letter-spacing: 0px;
    box-sizing: content-box; 
    display: block; 
}

.text span2{
    position:absolute;
    top:0;
    right:0;

    color:rgb(36, 14, 58);
    font-family: Snell Roundhand, cursive;
    font-size:20px;
    background-color:rgba(236, 234, 234, 0.301);
    padding:10px 20px;
    vertical-align: middle; 
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.text span3{
    position:absolute;
    top:0;
    right:9%;
    padding:10px 20px;
    color:rgb(255, 255, 255);
    font-family: Snell Roundhand, cursive;
    font-size:20px;
   
}

.text span4{
    position:absolute;
    top:0;
    right:17%;
    padding:10px 20px;
    color:rgb(255, 255, 255);
    font-family: Snell Roundhand, cursive;
    font-size:20px;
   
}

.text span5{
    position:absolute;
    top:0;
    right:23%;
    color:rgb(255, 255, 255);
    font-family: Snell Roundhand, cursive;
    font-size:20px;
    padding:10px 20px;
    
}

.text img{
    position:absolute;
    padding:10px 20px;
    width: 7%;
    top: 180%;
    left: 10%;
}

.text h{
    position:absolute;
    padding:10px 20px;
    width: 10%;
    top: 198%;
    left: 8%;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;
    color: #000;
    line-height: 1.55;
    font-size: 16px;
    text-align: center;
}

.phone img{
    position:absolute;
    padding:10px 20px;
    width: 7%;
    top: 180%;
    left: 40%;
}

.phone h1{
    position:absolute;
    padding:10px 20px;
    width: 10%;
    top: 198%;
    left: 39%;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;
    color: #000;
    line-height: 1.55;
    font-size: 16px;
    text-align: center;
}

.rezhim img{
    position:absolute;
    padding:10px 20px;
    width: 7%;
    top: 180%;
    left: 70%;
}

.rezhim h2{
    position:absolute;
    padding:10px 20px;
    width: 9%;
    top: 198%;
    left: 70%;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;
    color: #000;
    line-height: 1.55;
    font-size: 16px;
    text-align: center;
}

.text h1{
    color: rgb(0, 0, 0);
    padding: 20px 5px 20px 5px;
    font-size: 51px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: absolute;
    line-height: 1.2;
    transition-delay: 0s;
    letter-spacing: 1px;
    box-sizing: content-box; 
    display: block; 
    top: 220%;
    
}

.photo a {
    position: absolute;
    padding:380px 0px;
    width: 100%;
    top: 220%;
    left: 0;
}

.text h2{
    color: rgb(0, 0, 0);
    padding: 20px 5px 20px 5px;
    font-size: 40px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: absolute;
    line-height: 1.1;
    transition-delay: 0s;
    letter-spacing: 1px;
    box-sizing: content-box; 
    display: block; 
    top: 365%;
    
}

.photo b {
    position: absolute;
    padding:380px 0px;
    width: 100%;
    top: 335%;
    left: 0;
}

.photo c {
    position: absolute;
    padding:380px 100px;
    width: 25%;
    top: 680%;
    left: 30%;
}

.text p{
    color: rgb(0, 0, 0);
    padding: 200px 465px 200px 465px;
    font-size: 40px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: absolute;
    line-height: 1.1;
    letter-spacing: 3px; 
    top: 760%;
    display: block; 
    box-sizing: content-box; 
}

.text p1{
    color: rgb(0, 0, 0);
    padding: 180px 465px 180px 485px;
    font-size: 25px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: absolute;
    line-height: 1.1;
    display: block; 
    box-sizing: content-box;
    letter-spacing: 2px; 
    top: 780%;
   
}

.text p2{
    color: rgb(0, 0, 0);
    padding: 70px 20px 70px 2px;
    font-size: 35px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: absolute;
    line-height: 1.3;
    display: block; 
    box-sizing: content-box;
    letter-spacing: 3px; 
    top: 810%;
   
}

.text p3{
    color: rgb(0, 0, 0);
    padding: 100px 400px 100px 425px;
    font-size: 51px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: absolute;
    line-height: 1.3;
    transition-delay: 0s;
    letter-spacing: 3px;
    box-sizing: content-box; 
    display: block; 
    top: 850%;
    
}

.text p4{
    color: rgb(0, 0, 0);
    padding: 20px 5px 20px 5px;
    font-size: 37px;
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: center;
    position: absolute;
    line-height: 1.3;
    transition-delay: 0s;
    letter-spacing: 3px;
    box-sizing: content-box; 
    display: block; 
    top: 885%;
    
}

.photo d {
    position: absolute;
    padding:380px 0px;
    width: 100%;
    top: 880%;
    left: 0;
}
